/* Angular Material overrides */

.md-chips md-chip {
	height: 26px;
	line-height: 26px;
	border-radius: 13px;

}

.md-chips md-chip .md-chip-remove {
	height: 26px;
	width: 26px;
}

.md-chips md-chip .md-chip-remove md-icon {
	height: 16px;
	width: 16px;
	min-height: 16px;
	min-width: 16px;
}

.md-chips md-chip .md-chip-remove-container {
	line-height: 26px;
}

md-input-container .md-chips {
	font-size: 100%;
	padding: 0 0 0px 2px;

}
md-input-container .md-chips .md-chip-input-container {
	margin: 0px;
}

md-input-container .md-chips .md-chip-input-container input.md-input {
	line-height: 26px;
	height: 30px;
}

md-input-container .md-chips .md-chip-input-container .md-errors-spacer {
	display: none;
}