<mat-card class="stats-card">
  <div *ngIf="options.icon" class="stats-icon-container">
    <mat-icon [svgIcon]="options.icon" class="stats-icon"></mat-icon>
  </div>

  <div class="stats-content">
    <div class="stats-data">
      <span>{{options.value}}</span>
      <span *ngIf="options.total">/{{options.total}}</span>
      <span class="unit">{{options.unit}}</span>
    </div>
    <mat-progress-bar *ngIf="!options.noGraph" mode="determinate" color="primary" [value]="options.value/options.total*100" class="stats-bar"></mat-progress-bar>
    <h5>{{options.title}}</h5>
  </div>


</mat-card>
