$unit: 8px;

// TYPOGRAPHY
$main-font: 'Roboto','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;

$code-font: 'Droid Sans Mono', monospace;

// BREAKPOINTS for media queries
$bp-xs: 320px;
$bp-sm: 600px;
$bp-md: 800px;
$bp-lg: 1000px;
$bp-xl: 1280px;


// COLOR PALETTE
$blue: #1976d2;
$accentblue: #1e88e5;
$brightred: #dd0031;
$darkred: #c3002f;
$white: #ffffff;
$offwhite: #fafafa;
$backgroundgray: #f1f1f1;
$lightgray: #dbdbdb;
$mist: #eceff1;
$mediumgray: #6e6e6e;
$darkgray: #333;
$black: #0a1014;
$orange: #ff9800;
$anti-pattern: $brightred;
