<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>LuCI2 NG</title>

	<!-- build:css luci-ng/libs.css -->
	<!-- bower:css -->
	<!-- run `gulp inject` to automatically populate bower styles dependencies -->
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css({.tmp,www}) luci-ng/luci-ng.css -->
	<!-- inject:css -->
	<!-- css files will be automatically insert here -->
	<!-- endinject -->
	<!-- endbuild -->

</head>

<body ng-app="LuCI2">

	<div class="navbar navbar-inverse navbar-fixed-top" role="banner" ng-controller="HeaderController">
		<div class="container">
			<div class="navbar-header">
				<button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle">
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
				<a class="navbar-brand" href="#" id="hostname">&nbsp;</a>
			</div>
			<div uib-collapse="navCollapsed" class="collapse navbar-collapse" id="mainmenu">
				<ul role="menu" class="nav navbar-nav">
					<li ng-repeat="node in menu" ng-include="'menuTree'" uib-dropdown></li>
				</ul>
				<ul class="nav navbar-nav navbar-right ng-cloak">
					<li>
						<a href="#/logout" ng-click="logout()">
							<span class="label label-default"></span>
						</a>
					</li>
					<li ng-if="user">
						<a href="#/logout" ng-click="logout()">
							<span class="label label-info">Logged in as {{user}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="viewmenu"></div>

	<div id="maincontent" class="container" ng-view>
		Loading...
	</div>

	<script type="text/ng-template" id="loginForm">
		<div class="modal-content">
			<div class="modal-header modal-title">
				<h4>Authorization Required</h4>
			</div>
			<div class="modal-body">
				<form target="" method="post">
					<p ng-if="error" class="alert alert-danger">Wrong username or password given!</p>
					<p>
						<label>
			  Username<br>
			  <input type="text" name="username" value="root" class="form-control" ng-model="username" ng-keypress="login($event)">
			</label>
					</p>
					<p>
						<label>
			  Password<br>
			  <input type="password" name="password" class="form-control" ng-model="password" ng-keypress="login($event)">
			</label>
					</p>
					<p>
						Enter your username and password above, then click "Login" to proceed.
					</p>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-disabled="!username || !password" ng-click="login($event)">Login</button>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="logoutForm">
		<div class="modal-content">
			<div class="modal-header modal-title">
				<h4>Confirm logout</h4>
			</div>
			<div class="modal-body">
				<p>
					Do you really want to log out?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel($event)">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="logout($event)">Logout</button>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="menuTree">
		<a ng-if="!node.childs" href="#/{{node.view}}">{{node.title}}</a>
		<a ng-if="node.childs" href="#" uib-dropdown-toggle>
	  {{node.title}}
	  <b class="caret"></b>
	</a>
		<ul ng-if="node.childs" class="dropdown-menu navbar-inverse">
			<li ng-repeat="node in node.childs" ng-include="'menuTree'" uib-dropdown></li>
		</ul>
	</script>

	<!-- build:js luci-ng/libs.js -->
	<!-- bower:js -->
	<!-- run `gulp inject` to automatically populate bower script dependencies -->
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,www}) luci-ng/luci-ng.js -->
	<!-- inject:js -->
	<!-- js files will be automatically insert here -->
	<!-- endinject -->
	<!-- inject:partials -->
	<!-- angular templates will be automatically converted in js and inserted here -->
	<!-- endinject -->
	<!-- endbuild -->

</body>

</html>
