/* You can add global styles to this file, and also import other style files */

// Include custom Material theming.
@import './styles/main.scss';

@import '~chartist/dist/chartist.min.css';

// style for the legacy error message
#legacy {
  font-size: 24px;
  font-weight: 500;
  margin: 24px;
}
