@import './../../../styles/_components.scss';

app-shell {
  flex: 1 1 auto;
  overflow: hidden;

  @include flex-container(column, stretch);
  .mat-toolbar.app-bar {
    padding: 0 8px;
    background-color: #002b49;
  }
}

.app-bar {
  position: relative;
  z-index: 10;
  flex: 0 0 auto;
  .app-bar-menu {
    margin-right: 4px;
  }
}

.app-bar-separator {
  flex: 1 1 auto;
}

.app-bar-button {
  flex: 0 0 auto;
}

.app-bar-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .text {
    fill: white;
  }

  .accent {
    fill: #00a3e1;
  }
}

.app-bar-title img {
  padding-top: 5px;
  padding-right: 2px;
  height: 30px;
}

.mat-icon.app-bar-logo {
  width: 36px;
  height: 44px;
  padding: 10px;
}
.mat-icon.app-bar-wordmark {
  padding-bottom: 8px;
  height: 29px;
  width: 130px;
}

.main-content {
  flex: 1 0 auto;
  padding: 0px;
}

.footer {
  flex: 0 0 auto;
  color: #aaaaaa;
  padding: 6px;
  margin-bottom: 5px;
  font-size: 80%;

  display: flex;
  justify-content: center;
}

.footer-content {
  flex: 0 1 680px;
  text-align: right;
}

mat-sidenav-container.app-content {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.app-content mat-sidenav-content {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
}

.main-content {
  overflow: hidden;
  @include flex-container(column, stretch);
}

mat-sidenav {
  width: $bp-xs * 0.66;
  min-width: $bp-xs * 0.33;
  max-width: $bp-xs * 0.8;
}
