<md-toolbar class="app-bar mat-elevation-z6" color="primary">
  <button md-icon-button (click)="nav.open()" [style.display]="media.isActive('gt-sm') ? 'none' : 'block'">
    <md-icon svgIcon="menu"></md-icon>

  </button>
</md-toolbar>

  <md-sidenav-container class="app-content">

    <md-sidenav #nav [mode]="media.isActive('gt-sm') ? 'side' : 'over'" [opened]="media.isActive('gt-sm')">
      <app-nav-menu [nodes]="menu"></app-nav-menu>
    </md-sidenav>

    <div class="main-content">
    <ng-content select="[shell-content]"></ng-content>

    </div>
    <div class="footer">
    footer
    </div>

  </md-sidenav-container>
