{
	"globals": {
		"angular": true,
		"L2": true

	},
	"root": true,
	"env": {
		"browser": true
	},
	"extends": ["eslint:recommended", "google", "angular"],

	"plugins": ["json"],
	"rules": {
		/* google overrides */
		"require-jsdoc": 0,
		"max-len": [2, {
			"code": 100,
			"tabWidth": 2,
			"ignoreUrls": true
		}],
		"one-var": 0,
		"guard-for-in": 0,
		"brace-style": [2, "1tbs", {"allowSingleLine": true }],

		/* disable Google ES6 */
		"no-var": 0,
		"prefer-rest-params": 0,
		"prefer-spread": 0,

		/* custom */
		"indent": [1, "tab", {
			"SwitchCase": 1,
			"VariableDeclarator": 1,
			"FunctionDeclaration": {
				"parameters": 1,
				"body": 1
			},
			"FunctionExpression": {
				"parameters": 1,
				"body": 1
			},
			"ArrayExpression": 1,
			"ObjectExpression": 1
			}],

		/* Angular overrides */
		"angular/definedundefined": 0
	}
}
