{
	"globals": {
		"angular": true,
		"L2": true

	},
	"root": true,
	"env": {
		"browser": true
	},
	"extends": ["eslint:recommended", "google", "angular"],

	"plugins": ["json"],
	"rules": {
		/* google overrides */
		"no-console": 0,
		"require-jsdoc": 0,
		"max-len": [2, {
			"code": 110,
			"tabWidth": 4,
			"ignoreUrls": true
		}],
		"keyword-spacing": "error",
		"one-var": 0,
		"guard-for-in": 0,
		"comma-dangle": [2, "never"],
		"object-curly-spacing": [2, "always"],

		/* disable Google ES6 */
		"no-var": 0,
		"prefer-rest-params": 0,
		"prefer-spread": 0,

		/* temporary disabled */

		"key-spacing": 0,
		"no-mixed-spaces-and-tabs": [2, "smart-tabs"],
		"no-multi-spaces": 0,
		"camelcase": 0,

		"indent": [2, "tab", {
			"SwitchCase": 1,
			"VariableDeclarator": 1,
			"outerIIFEBody": 0,
			"MemberExpression": 1,
			"FunctionDeclaration": {
				"parameters": "first",
				"body": 1
			},
			"FunctionExpression": {
				"parameters": "first",
				"body": 1
			},
			"CallExpression": {
				"arguments": "first"
			}, 
			"ArrayExpression": 1,
			"ObjectExpression": 1
			}],

		/* custom extras */
		"object-curly-newline": ["error", {
			"multiline": true
		}],
		"lines-around-directive": 2,
		/* Angular overrides */
		"angular/definedundefined": 0,
		"angular/typecheck-array": 0,
		"angular/typecheck-date": 0,
		"angular/typecheck-function": 0,
		"angular/typecheck-number": 0,
		"angular/typecheck-object": 0,
		"angular/typecheck-string": 0,
		"angular/document-service": 0,
		"angular/window-service": 0,
		// "angular/no-directive-replace": 2,
		"angular/no-http-callback": 1,
		"angular/log": 0,

	}
}
