@import './../../../styles/_components.scss';

app-popup-dialog {
  display: block;

  .mat-dialog-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-height: 60px;
  }

  .app-popup-spinner {
    margin-left: 18px;
  }

  .app-popup-icon {
    width: 60px;
    height: 60px;
    margin-right: 18px;
    color: $mediumgray;
  }

  .mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
