		<section layout="row" layout-align="end">

				<div ng-repeat="btn in $ctrl.buttons" style="position:relative">
					<ng-bind-html ng-if="btn.template" ng-bind-html="btn.template"> </ng-bind-html>

					<md-button ng-if="!btn.template && !btn.menu" ng-click="btn.onClick && btn.onClick();"
							   class="md-icon-button toolbar-button" aria-label="{{btn.label}}">
						<md-icon ng-if="btn.svgIcon" md-svg-icon="{{btn.svgIcon}}"></md-icon>
					</md-button>
					<span ng-if="!btn.template && btn.badge" class="amf-notifications-label">{{btn.badge}}</span>

					<md-menu ng-if="!btn.template && btn.menu">
						<md-button class="md-icon-button" ng-click="$mdMenu.open($event)" aria-label="{{btn.label}}">
							<md-icon ng-if="btn.svgIcon" md-svg-icon="{{btn.svgIcon}}"></md-icon>
						</md-button>

						<md-menu-content width="3">
							<md-menu-item ng-repeat="item in btn.menu">
								<md-button ng-click="$mdMenu.close(); item.onClick && item.onClick();" class="md-button" aria-label="{{item.label}}">
									<md-icon ng-if="item.svgIcon" md-svg-icon="{{item.svgIcon}}"></md-icon>
									<span ng-if="item.label">{{item.label}}</span>
								</md-button>
								<span ng-if="item.badge" class="amf-notifications-label">{{item.badge}}</span>
							</md-menu-item>
						</md-menu-content>
					</md-menu>

				</div>

			</section>