<div *ngIf="!node.childs">
  <a [routerLink]="node.link" [ngClass]="classes" title="{{node.tooltip}}"
    class="nav-menu-item" routerLinkActive="selected">
    {{node.title}}
  </a>
</div>

<div *ngIf="node.childs">
  <a *ngIf="node.link != null" [routerLink]="node.link" [ngClass]="classes" title="{{node.tooltip}}"
    (click)="headerClicked()" class="nav-menu-item heading" routerLinkActive="selected">
    {{node.title}}
    <md-icon class="rotating-icon" svgIcon="chevron-down"></md-icon>
  </a>

  <button *ngIf="node.link == null" type="button" [ngClass]="classes" title="{{node.tooltip}}"
    (click)="headerClicked()" class="nav-menu-item heading"
    [attr.aria-pressed]="isExpanded">
    {{node.title}}
    <md-icon class="rotating-icon" svgIcon="chevron-down"></md-icon>
  </button>

  <div class="heading-children" [ngClass]="classes">
    <app-nav-item *ngFor="let node of nodeChilds" [level]="level + 1" [node]="node"></app-nav-item>
  </div>
</div>
