<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>LuCI2 NG</title>

	<link rel="stylesheet" href="/luci-ng/css/bootstrap.css">
    <link rel="stylesheet" href="/luci-ng/css/luci-ng.css">
</head>
<body ng-app="LuCI2">

  <div class="navbar navbar-inverse navbar-fixed-top" role="banner" ng-controller="HeaderController">
	<div class="container">
	  <div class="navbar-header">
		<button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle">
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#" id="hostname">&nbsp;</a>
	  </div>
	  <div uib-collapse="navCollapsed" class="collapse navbar-collapse" id="mainmenu">
		<ul role="menu" class="nav navbar-nav">
		  <li ng-repeat="node in menu" ng-include="'menuTree'" uib-dropdown></li>
		</ul>
		<ul class="nav navbar-nav navbar-right ng-cloak">
		  <li>
			<a href="#/logout" ng-click="logout()">
			  <span class="label label-default"></span>
			</a>
		  </li>
		  <li ng-if="user">
			<a href="#/logout" ng-click="logout()">
			  <span class="label label-info">Logged in as {{user}}</span>
			</a>
		  </li>
		</ul>
	  </div>
	</div>
  </div>

  <div id="viewmenu"></div>

  <div id="maincontent" class="container" ng-view>
	Loading...
  </div>

  <script type="text/javascript" src="/luci-ng/libs/angular.min.js"></script>
  <script type="text/javascript" src="/luci-ng/libs/angular-route.min.js"></script>
  <script type="text/javascript" src="/luci-ng/libs/angular-animate.min.js"></script>
  <script type="text/javascript" src="/luci-ng/libs/angular-gettext.min.js"></script>
  <script type="text/javascript" src="/luci-ng/libs/ui-bootstrap-tpls.min.js"></script>
  <!--<script type="text/javascript" src="/luci-ng/l2.min.js"></script>-->
  <script type="text/javascript" src="/luci-ng/l2.base.js"></script>
  <script type="text/javascript" src="/luci-ng/l2.use.js"></script>
  <script type="text/javascript" src="/luci-ng/l2.oui.js"></script>
  <script type="text/javascript" src="/luci-ng/l2.rpc.js"></script>
  <script type="text/javascript" src="/luci-ng/l2.uci.js"></script>
  <script type="text/javascript" src="/luci-ng/l2.cbi.js"></script>
  <script type="text/javascript" src="/luci-ng/l2.cgi.js"></script>
  <script type="text/javascript" src="/luci-ng/l2.system.js"></script>
  <script type="text/javascript" src="/luci-ng/l2.network.js"></script>
  <script type="text/javascript" src="/luci-ng/l2.wireless.js"></script>

  <script type="text/ng-template" id="loginForm">
	<div class="modal-content">
	  <div class="modal-header modal-title">
		<h4>Authorization Required</h4>
	  </div>
	  <div class="modal-body">
		<form target="" method="post">
		  <p ng-if="error" class="alert alert-danger">Wrong username or password given!</p>
		  <p>
			<label>
			  Username<br>
			  <input type="text" name="username" value="root" class="form-control" ng-model="username" ng-keypress="login($event)">
			</label>
		  </p>
		  <p>
			<label>
			  Password<br>
			  <input type="password" name="password" class="form-control" ng-model="password" ng-keypress="login($event)">
			</label>
		  </p>
		  <p>
			Enter your username and password above, then click "Login" to proceed.
		  </p>
		</form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-disabled="!username || !password" ng-click="login($event)">Login</button>
	  </div>
	</div>
  </script>

  <script type="text/ng-template" id="logoutForm">
	<div class="modal-content">
	  <div class="modal-header modal-title">
		<h4>Confirm logout</h4>
	  </div>
	  <div class="modal-body">
		<p>
		  Do you really want to log out?
		</p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="cancel($event)">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="logout($event)">Logout</button>
	  </div>
	</div>
  </script>

  <script type="text/ng-template" id="menuTree">
	<a ng-if="!node.childs" href="#/{{node.view}}">{{node.title}}</a>
	<a ng-if="node.childs" href="#" uib-dropdown-toggle>
	  {{node.title}}
	  <b class="caret"></b>
	</a>
	<ul ng-if="node.childs" class="dropdown-menu navbar-inverse">
	  <li ng-repeat="node in node.childs" ng-include="'menuTree'" uib-dropdown></li>
	</ul>
  </script>
</body>
</html>
