<h2 translate>xDSL Status</h2>

<fieldset class="cbi-section">
	<legend translate>Line State</legend>
	<div class="l2-grid l2-grid-hover">
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				State
			</div><div class="cell clearfix content nowrap col-xs-8">
				{{dsl.dsl.line_state}} [{{dsl.dsl.line_state_detail}}]
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Power Management Mode
			</div><div class="cell clearfix content nowrap col-xs-8">
				{{dsl.dsl.power_mode_s}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
			Uptime
			</div><div class="cell clearfix content nowrap col-xs-8">
				{{dsl.dsl.line_uptime_s}}
			</div>
		</div>
	</div>
</fieldset>

<fieldset class="cbi-section">
	<legend translate>Line Information</legend>
	<div class="l2-grid l2-grid-hover">
		<div class="row">
			<div class="cell clearfix content col-xs-4">
			</div><div class="cell clearfix content nowrap col-xs-4" translate>
				Downstream
			</div><div class="cell clearfix content nowrap col-xs-4" translate>
				Upstream
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Line Attenuation (LATN)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.line_attenuation_down}} dB
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.line_attenuation_up}} dB
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Signal Attenuation (SATN)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.signal_attenuation_down}} dB
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.signal_attenuation_up}} dB
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Noise Margin (SNR)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.noise_margin_down}} dB
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.noise_margin_up}} dB
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Aggregate Transmit Power (ACTATP)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.actatp_down}} dB
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.actatp_up}} dB
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Latency / Interleave Delay
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.latency_num_down}} [{{dsl.dsl.latency_s_down}}]
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.latency_num_up}} [{{dsl.dsl.latency_s_up}}]
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Data Rate
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.data_rate_down_s}}
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.data_rate_up_s}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Max. Attainable Data Rate (ATTNDR)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.max_data_rate_down_s}}
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.max_data_rate_up_s}}
			</div>
		</div>
	</div>
</fieldset>
<fieldset class="cbi-section">
	<legend translate>Performance Information</legend>
	<div class="l2-grid l2-grid-hover">
		<div class="row">
			<div class="cell clearfix content col-xs-4">
			</div><div class="cell clearfix content nowrap col-xs-4" translate>
				Near End
			</div><div class="cell clearfix content nowrap col-xs-4" translate>
				Far End
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Forward Error Correction Seconds (FECS)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_fec_near}}
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_fec_far}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Errored Seconds (ES)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_es_near}}
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_es_far}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Severely Errored Seconds (SES)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_ses_near}}
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_ses_far}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Loss of Signal Seconds (LOSS)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_loss_near}}
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_loss_far}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Unavailable Seconds (UAS)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_uas_near}}
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_uas_far}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Header Error Code Errors (HEC)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_hec_near}}
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_hec_far}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Non Pre-emtive CRC errors (CRC_P)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_crc_p_near}}
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_crc_p_far}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Pre-emtive CRC errors (CRCP_P)
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_crcp_p_near}}
			</div><div class="cell clearfix content nowrap col-xs-4">
				{{dsl.dsl.errors_crcp_p_far}}
			</div>
		</div>
	</div>
</fieldset>
<fieldset class="cbi-section">
	<legend translate>ATU-R Information</legend>
	<div class="l2-grid l2-grid-hover">
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Chipset
			</div><div class="cell clearfix content nowrap col-xs-8">
				{{dsl.dsl.chipset}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Firmware Version
			</div><div class="cell clearfix content nowrap col-xs-8">
				{{dsl.dsl.firmware_version}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				API Version
			</div><div class="cell clearfix content nowrap col-xs-8">
				{{dsl.dsl.api_version}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				XTSE Capabilities
			</div><div class="cell clearfix content nowrap col-xs-8">
				{{dsl.dsl.xtse_s}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Annex
			</div><div class="cell clearfix content nowrap col-xs-8">
				{{dsl.dsl.annex_s}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Line Mode
			</div><div class="cell clearfix content nowrap col-xs-8">
				{{dsl.dsl.line_mode_s}}
			</div>
		</div>
	</div>
</fieldset>
<fieldset class="cbi-section">
	<legend translate>ATU-C Information</legend>
	<div class="l2-grid l2-grid-hover">
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				Vendor ID
			</div><div class="cell clearfix content nowrap col-xs-8">
				{{dsl.dsl.atuc_vendor_id}}
			</div>
		</div>
		<div class="row">
			<div class="cell clearfix content col-xs-4" translate>
				System Vendor ID
			</div><div class="cell clearfix content nowrap col-xs-8">
				{{dsl.dsl.atuc_system_vendor_id}}
			</div>
		</div>
</fieldset>

