<div [ngSwitch]="option.schema.type" provideParentFormGroup *ngIf="dependenciesState">

  <mat-slide-toggle *ngSwitchCase="'boolean'" [(ngModel)]="option.value" [name]="option.schema.name" labelPosition="before">{{option.schema.title}}</mat-slide-toggle>

  <mat-form-field *ngSwitchCase="'array'" [hintLabel]="option.schema.description">
    <mat-chip-list #chipList [(ngModel)]="option.value" [name]="option.schema.name" [uciSchema]="option.schema" #valueAccessor="chipValueAccessor"
      #listOption="ngModel">
      <mat-chip *ngFor="let item of option.value; index as i" [selectable]="true" [removable]="true" (remove)="removeChip(i, valueAccessor)">
        {{item}}
        <mat-icon matChipRemove>x</mat-icon>
      </mat-chip>
      <input matInput [matChipInputFor]="chipList" [placeholder]="option.schema.title" type="text" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addChip($event, valueAccessor)" [(ngModel)]="listInput" [ngModelOptions]="{standalone: true}"
        [uciSchema]="option.schema.items">

    </mat-chip-list>
    <mat-error>{{listOption?.errors?.uciSchema?.errorMsg}}</mat-error>
  </mat-form-field>

  <mat-form-field *ngSwitchDefault [hintLabel]="option.schema.description">

    <ng-container *ngIf="listEnum">
      <input matInput [placeholder]="option.schema.title" [(ngModel)]="option.value" [type]="option.schema.inputType()" [name]="option.schema.name"
        [required]="option.schema.required" [uciSchema]="option.schema" #simpleOption="ngModel"
        [matAutocomplete]="acEnum" (ngModelChange)="filterAutocomplete($event)">
      <mat-autocomplete #acEnum="matAutocomplete">
        <mat-option *ngFor="let option of acOptions" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>

    </ng-container>
    <input matInput [placeholder]="option.schema.title" [(ngModel)]="option.value" [type]="option.schema.inputType()" [name]="option.schema.name"
      [required]="option.schema.required" [uciSchema]="option.schema" #simpleOption="ngModel" *ngIf="!listEnum">

    <mat-error *ngIf="simpleOption?.errors?.uciSchema">{{simpleOption?.errors?.uciSchema?.errorMsg}}</mat-error>


  </mat-form-field>

</div>
